
body {
  background-color: #f7f9fb;
  color: #354053;
  font-family: "Sintony", sans-serif;
  font-size: 0.85rem;
}

body * {
  outline: none;
}

html,
body {
  height: 100%;
}
img{
  max-width: 100%;
}

.vjs-record .vjs-pip-button.vjs-control {
  display: none !important;
}

.vjs-device-button {
  font-size: 10px !important;
  position: absolute !important;
  z-index: 2 !important;
  top: calc(50% - 2em) !important;
  left: calc(50% - 0em) !important;
  cursor: pointer !important;
  opacity: 1 !important;
  transition: all 0.4s !important;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: white !important;
  box-shadow: none !important;
  color: #00d9cc !important;
  border-radius: 6px !important;
  height: 4em !important;
  width: 5em !important;
}

.text-info {
  color: #00bcb0 !important;
}

.btn-secondary {
  color: rgb(37, 37, 37);
  background-color: #fff;
  border-color: #fff;
}

.btn-secondary:hover {
  color: rgb(37, 37, 37);
  background-color: rgb(209, 207, 207);
  border-color: rgb(209, 207, 207);
}


.ng-invalid.ng-touched.form-control,
.ng-invalid.ng-touched.form-select {
  border-color: #F7517F;
  border-width: 2px;
  box-shadow: 0px 2px 4px #f7518067;
}

.text-danger {
  color: #F7517F;
}

.form-control,
.form-select {
  border: 1px solid #EBEDED;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(208, 214, 222, 0.2);
  border-radius: 6px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #354053;
  height: 50px;
}

.form-control:focus , .form-select:focus {
  border: 2px solid #00D9CC;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px #B4FFFA;
  border-radius: 6px;
  outline:0;}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 104px;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 76px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 57px;
  align-items: center;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 44px;
}

h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
}

h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.body1 {
  font-family: 'Rubik', sans-serif;
  ;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.body2 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.002em;
  padding: 6px;
}

.btn.small {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 10px;
}

small {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.mat-table {
  font-family: inherit;
}

app-view-mail blockquote {
  margin-left: 10px;
  border-left: solid 1px rgb(68, 67, 67);
  padding-left: 10px;
}
 .logo:after {
  margin-left: 10px;
  width: 2px;
  content: '';
  height: 35px;
  position: absolute;
  background-color: #f2f2f2;
}

/* left nav */
.l-navbar {
  top: 118px;
  /* width: 272px; */
  /* height: 100vh; */
  background-color: #011A3E  ;
  padding: .5rem 1rem 0 0;
  z-index: 100;
  box-shadow: 0 1px 3px 0 rgb(54 74 99 / 5%);
  overflow: visible;
  display: inline-flex;
}
.l-navbar .nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-left: 1px solid rgba(208, 214, 222, 0.4);
}
.l-navbar .nav_link {
  border-bottom: 1px solid #354053;
  font-size: 14px;
  height: 47px;
  /* width: 180px; */
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem
}
.l-navbar .nav_link:hover{
  color: #D0D6DE;
  /* background-color: #0070D2; */
}
.l-navbar .submenu{
  list-style: none;
}
.l-navbar .nav_link, .left_icon {
  margin-left: 15px;
  position: relative;
  color: #D0D6DE;
  /* margin-bottom: 1rem; */
  transition: .3s
}
.l-navbar .nav_icon {
  font-size: 1.45rem
}
.l-navbar .nav_name{
  margin-top: .25rem;
}
.l-navbar .active {
  border-radius: 6px;
  color: #E6FBFD;
  background-color: #0070D2;
}
.l-navbar .active_view{
  border-radius: 6px;
  color: #E6FBFD;
  background: #0070d24f;
}

.l-navbar .active:hover {
  color: white;
  background-color: #0070D2;
}
.left_nav.row{
  padding-left: 0 !important;
}
.navbar-dark .navbar-toggler { color: #2870b7;line-height:initial;}
.navbar-toggler:focus { box-shadow:none;}
a{text-decoration: none;}
.avatar-xs {width: 35px;height:35px;}
.search { position: relative;}
.search input {text-indent: 25px;}
.search .fa-search {color: rgba(208, 214, 222, 0.5);font-size: 16px;position: absolute;top: 12px;left: 16px;}
/* table */
.table .thead-light th, .text-wrap table .thead-light th {color: rgba(93, 106, 126, 0.5); background-color: #F7F9FB;border-color: #F7F9FB;}
tr td:first-child, tr th:first-child {padding-left: 1.5rem;}
tbody, th, thead {border-style: none;}
.table-hover>tbody>tr:hover {--bs-table-accent-bg: rgb(201 226 255 / 20%);}
.table tbody td .email span { display: block;}

/* badges */
.badge-warning , .badge-success, .badge-info {height:25px;width: 80px;border-radius: 10px;position: relative;padding: .25em .65em; }
.badge-success{background-color: #E6FBFD;color: #1991EB;}
.badge-warning{background-color: #FEEEF2;color: #F7517F;}
.badge-info{background: rgba(0, 182, 128, 0.3);color: #00B680;}
.badge-warning:before {background: #F7517F;}
.badge-success:before { background: #1991EB;}
.badge-info:before { background: #00B680;}
.badge-warning:before , .badge-success:before , .badge-info:before  {border-radius: 50%;content: "";height: 6px;left:6px;margin-top: -2px;position: absolute;top: 50%;width: 6px;}

.badge-purple {background-color: #B0A1E9;color: #ffffff;font-size: 14px;}
.badge-red{background-color: #F7517F;color: #ffffff;font-size: 14px;}
.badge-blue{background-color: #07D5E8;color: #ffffff;font-size: 14px;}
.badge-green{background-color: #00D9CC;color: #ffffff;font-size: 14px;}


/* switch */
.form-switch .form-check-input {background-image: url(assets/Ellipse.png)!important;}
.form-check-input { background-color: #C9E2FF;}
.form-switch .form-check-input:checked {background-color: #00D9CC;border-color: #00D9CC;}
.form-check-input:checked {background-color: #0070D2;border-color: #0070D2;}

/* media  */
@media (max-width: 992px){
.page-header {
    display: block !important;
}
}
/* @media (min-width: 1200px){
  #chDonut1 {
    display: block;
    height: 263px!important;
    width: 263px!important;
  }
  } */
  @media screen and (max-width: 768px){
  .nav_bar {
    padding-top: 0rem!important;
    background-color: #ffffff!important;
    border-bottom: 1px solid #dee2e64d!important;
    height: auto!important;
}}
@media screen and (max-width: 768px){
.navbar-expand-md {
    box-shadow: none!important;
}}
@media screen and (max-width: 768px){
.nav_bar .nav-link, .fa-facebook-square, .fa-linkedin-square, .fa-twitter {
    color: #282C33!important;
}}
.dropdown-item.active, .dropdown-item:active {color: #354053;text-decoration: none;background-color: #EFF3F7;}
.page-item.active .page-link {background-color: #AEB4BF;border-color: #AEB4BF;}.page-link{color:#AEB4BF ;}
.card-header_border :before {border-top-left-radius: 80px;top: 0; content: ''; position: absolute;left: 0;width: 6px; height: 58px; background-color: #00D9CC; margin-top: 0;}

td .body2{
  display: inline-block;
  max-width: 260px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;;
  }
  select.classic{
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #0070D2, #0070D2);
    background-position: calc(100% - 25px) calc(1em + 2px), calc(100% - 20px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.7em 2.7em;
    background-repeat: no-repeat;}
 input.classic{
   background-image: linear-gradient(45deg, transparent 50%, #0070D2), linear-gradient(135deg, #0070D2, transparent 50%), linear-gradient(to right, #0070D2, #0070D2);
   background-position: calc(100% - 25px) calc(1em + 2px), calc(100% - 20px) calc(1em + 2px), 100% 0;
   background-size: 5px 5px, 5px 5px, 2.7em 2.7em;
   background-repeat: no-repeat;}
::-webkit-calendar-picker-indicator { background-image: url('assets/calendar.svg');}

.btn-1:hover {background: #1991EB!important;color: white!important;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;border: none!important;}
.btn-1:active {transform: translateY(-0.25em);background: #07D5E8!important;color: white!important;border: none!important;}
.btn-2:hover {background: #F7517F!important;color: white!important;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
.btn-2:active {transform: translateY(-0.25em);background: #f7517fdb!important;color: white;outline: none;}
.form-check-input:focus{
  outline:none;
  box-shadow: 0px 2px 4px #ffffff;
}
.form-control:disabled, .form-control:read-only {
  background-color: #EFF3F7;
  opacity: 1;
}
.progress .bg-success{ background-color: #00D9CC!important;}
.progress .bg-info{background-color: #1991EB!important;}
.progress .bg-danger{ background-color: #B0A1E9!important;}
